<img id='carousel-image' onClick="activateCarousel((carouselIndex + 1) % screenshots.length)" />

<div class='carousel-dots'>
    {% for item in site.data.screenshots %}
    <div class="carousel-dot" id="carousel-dot-{{forloop.index0}}" onClick="activateCarousel({{forloop.index0}})"></div>
    {% endfor %}
</div>

<script>
    screenshots = {{ site.data.screenshots | jsonify }}
    carouselIndex = null;

    function activateCarousel(index) {
        if (carouselIndex != null) {
            document.getElementById('carousel-dot-' + carouselIndex).classList.remove('is-active')
        }
        carouselIndex = index;
        document.getElementById('carousel-image').src = screenshots[carouselIndex].src
        document.getElementById('carousel-dot-' + carouselIndex).classList.add('is-active')
    }

    activateCarousel(0);
</script>