<img id='carousel-image' onClick="activateCarousel((carouselIndex + 1) % screenshots.length)" />

<div class='carousel-dots mb-6'>
    {% for item in site.data.screenshots %}
    <div class="carousel-dot" id="carousel-dot-{{forloop.index0}}" onClick="activateCarousel({{forloop.index0}})"></div>
    {% endfor %}
</div>

<p class='title is-2'>Features</p>

<script>
    screenshotsGrouped = {{ site.data.screenshots | jsonify }}
    screenshots = screenshotsGrouped.map(function (x) { return x.items[0]; } )
    carouselIndex = null;

    function activateCarousel(index) {
        if (carouselIndex != null) {
            el = document.getElementById('carousel-dot-' + carouselIndex)
            if (el) el.classList.remove('is-active')
        }
        carouselIndex = index;
        document.getElementById('carousel-image').src = '/assets/screenshots/' + screenshots[carouselIndex].src
        el = document.getElementById('carousel-dot-' + carouselIndex)
        if (el) el.classList.add('is-active')
    }

    activateCarousel(0);
</script>