DbGate for {{include.name}} is free and open source client for Linux, Windows and MacOS. Also runs in Web browser, 
when started from Docker container.

<h2>{{include.name}} Client Features</h2>

<ul>
    <li>Connect to multiple databases, directly or through SSH tunnel</li>
    <li>Browse or edit data in your tables or views, filter by column value</li>
    <li>{{include.name}} SQL editor - edit SQL queries with auto-complete suggestions or use query designer</li>
    <li>Export and import from/to CSV, JSON or Excel. Use JavaScript scripting support</li>
    <li>Dark theme, charts, table structure viewer. Configurable keyboard shortcuts</li>
</ul>
