{% for system in site.data.download %}
<div class="columns mb-6 ">
    <div class="column is-3">
        <button class="button is-medium is-static mr-5 is-fullwidth {{system.buttonclass}}">
            <i class="{{system.icon}} mr-2"></i>
            {{system.text}}
        </button>
    </div>
    <div class="column">
        <div class="columns is-multiline">
            {% for file in system.items %}
            <div class="column is-4">
                <a class="button is-medium is-primary is-fullwidth" href="{{file.link}}" onClick="{{file.onClick}}">
                    <i class="{{file.icon}} mr-2"></i>
                    {{file.text}}
                    {% if file.platform %}
                    <span class='has-text-grey-light ml-2'>
                        {{file.platform}}
                    </span>
                    {% endif %}
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endfor %}
