<div >
    <a href="/download/" class="is-linux button is-info is-medium mr-2 is-hidden-mobile"><i class='fab fa-linux mr-2'></i> Download for Linux</a>
    <a href="/download/" class="is-windows is-info is-medium mr-2 is-hidden-mobile"><i class='fab fa-windows mr-2'></i> Download for Windows</a>
    <a href="/download/" class="is-mac button is-info is-medium mr-2 is-hidden-mobile"><i class='fab fa-apple mr-2'></i> Download for MacOS</a>
    <a href="/download/" class="is-other-os button is-info is-medium mr-2 is-hidden-mobile"><i class='fa fa-download mr-2'></i> Download</a>

    <a href="https://www.youtube.com/watch?v=ttgzWwhll70" target="'_blank" class="button is-info is-medium mr-2"><i class='fa fa-video mr-2'></i> Video preview</a>
    <a href="https://demo.dbgate.org" class="button is-info is-medium is-hidden-mobile" target="'_blank"><i class='fa fa-globe mr-2'></i> Try it online</a>
</div>
