<div class='is-linux is-hidden-mobile' >
    <a href="https://github.com/dbgate/dbgate/releases/latest/download/dbgate-latest.AppImage" class="button is-info is-medium mr-5"><i class='fab fa-linux mr-2'></i> Download for Linux</a>
    <a href="/download/" class="button is-info is-medium"><i class='fa fa-download mr-2'></i> Other downloads</a>

    <a href="https://www.youtube.com/watch?v=ttgzWwhll70" target="'_blank" class="button is-info is-medium"><i class='fa fa-video mr-2'></i> Video preview</a>
</div>

<div class='is-windows is-hidden-mobile' >
    <a href="https://github.com/dbgate/dbgate/releases/latest/download/dbgate-latest.exe" class="button is-info is-medium"><i class='fab fa-windows mr-2'></i> Download for Windows</a>
    <a href="/download/" class="button is-info is-medium"><i class='fa fa-download mr-2'></i> Other downloads</a>

    <a href="https://www.youtube.com/watch?v=ttgzWwhll70" target="'_blank" class="button is-info is-medium"><i class='fa fa-video mr-2'></i> Video preview</a>
</div>

<div class='is-mac is-hidden-mobile' >
    <a href="https://github.com/dbgate/dbgate/releases/latest/download/dbgate-latest.dmg" class="button is-info is-medium"><i class='fab fa-apple mr-2'></i> Download for MacOS</a>
    <a href="/download/" class="button is-info is-medium"><i class='fa fa-download mr-2'></i> Other downloads</a>

    <a href="https://www.youtube.com/watch?v=ttgzWwhll70" target="'_blank" class="button is-info is-medium"><i class='fa fa-video mr-2'></i> Video preview</a>
</div>
