<div class="columns is-multiline">
    {% assign features = site.features | sort: "order", "last" %}
    {% for feature in features %}
    <div class="column is-4-desktop is-6-tablet">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title">
                    {{ feature.title }}</p>
            </div>

            <div class="card-content is-flex">

                <img src="/assets/img/{{feature.icon}}" class='feature-avatar mr-4' />

                {{ feature.description | default: feature.subtitle }}
            </div>
        </div>


        <footer class="card-footer">
            <a href="{{ feature.url | relative_url }}" class="card-footer-item">
                View details
            </a>
            {%if feature.demo_url %}
            <a href="{{ feature.demo_url }}" class="card-footer-item is-hidden-mobile" target='_blank'>
                Try demo
            </a>
            {% endif %}
        </footer>
    </div>
    {% endfor %}
</div>

<!-- 
<ul>
    {% for point in feature.points %}
    <li>{{point | markdownify}}</li>
    {% endfor %}
</ul> -->