<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            © <a href='https://github.com/janproch/'>Jan Prochazka</a> 2020-2024
            |
            <a href='https://github.com/dbgate/dbgate'>DbGate on GitHub</a>
            <!-- | <a href='http://repository.appvisor.com/info/app-a60089a1482b/DbGate_pad.xml'>PAD file</a> -->
            |
            <a href='https://dbgate.eu'>DbGate Premium</a>
        </div>
    </div>
</footer>
