<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content={{ site.theme_color | default: '#ffffff' }}>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
  <meta name="description"
    content="{{ page.headDescription | default: 'Powerful cross-platform SQL client and database manager for MySQL, SQL Server, PostgreSQL, SQLite, MongoDB, Redis, Oracle. Fast, modern and 100% free.' }}" />
  <title>{% if page.headTitle %}{{page.headTitle}}{% else %}{{page.title}} | DbGate{% endif %}</title>

  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
  {% unless site.hide_share_buttons %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css">
  <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
  {% endunless %}

  <!-- Google Analytics -->
  <script>
    if (window.localStorage) {
      let clientId = localStorage.getItem('gaClientId');
      if (!clientId) {
        clientId = Math.random().toString();
        localStorage.setItem('gaClientId', clientId);
      }
      window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
      ga('create', 'UA-187623490-1', {
        storage: 'none',
        clientId,
      });
      ga('send', 'pageview');
    }
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->

  <!-- GOAT COUNTER -->
  <script data-goatcounter="https://dbgate.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

  <script src="/assets/js/swiper-bundle.min.js"></script>

  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
