<div class="modal" id="mac-download-info">
    <div class="modal-background" onClick='hideMacDownloadInfo()'></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">DbGate on MacOS instructions</p>
            <button class="delete" aria-label="close" onClick='hideMacDownloadInfo()'></button>
        </header>
        <section class="modal-card-body">
            <p class='mb-3'>
                Please use following instructions to run DbGate on MacOS.
            </p>
            <p>
                <strong>1) Error Alert on first open (by double-clicking on the app)</strong>
                <br />
                <img src='/assets/screenshots/mac-download-1.png' width='372' />
            </p>
            <p class='mb-3'>
                <strong>2) Solution - right-click/command-click (keyboard) then select [Open]</strong>
                <br />
                <img src='/assets/screenshots/mac-download-2.png' width='588' />
            </p>
            <p>
                <strong>3) Click [Open] - after first open the message goes away</strong>
                <br />
                <img src='/assets/screenshots/mac-download-3.png' width='372' />
            </p>
        </section>
        <footer class="modal-card-foot">
            <button class="button" onClick='hideMacDownloadInfo()'>Close</button>
        </footer>
    </div>
</div>

<script>
    function showMacDownloadInfo() {
        document.getElementById('mac-download-info').classList.add('is-active');
    }

    function hideMacDownloadInfo() {
        document.getElementById('mac-download-info').classList.remove('is-active');
    }

</script>