{{ define "main" }}
<p class="title is-3">{{ .Title }}                           
{{ if eq .Params.edition "premium" }}
  <i class='fa fa-star ml-2' ></i>
{{ end }}
</p>

{{ if .Params.external_link }}
  <p><i class="fa fa-hand-point-right"></i> View more details on <a href="{{ .Params.external_link }}" target="_blank">dbgate.io</a>
</p>
{{ end }}

{{ .Content }}

<div class="columns is-multiline">
  {{ $shot := index (where $.Site.Data.screenshots "feature"
  .File.TranslationBaseName) 0 }} {{ partial "screenshots.html" (dict
  "columns_class" "column is-6-desktop is-6-tablet" "collection" $shot.items) }}
</div>
{{ end }}
