<div >
    <a href="/download/" class="is-linux button is-info is-medium mr-2 is-hidden-mobile" data-goatcounter-click="button-download-linux-homepage" data-goatcounter-title="Button: Download for Linux from homepage"><i class='fab fa-linux mr-2'></i> Download for Linux</a>
    <a href="/download/" class="is-windows button is-info is-medium mr-2 is-hidden-mobile" data-goatcounter-click="button-download-windows-homepage" data-goatcounter-title="Button: Download for Windows from homepage"><i class='fab fa-windows mr-2'></i> Download for Windows</a>
    <a href="/download/" class="is-mac button is-info is-medium mr-2 is-hidden-mobile" data-goatcounter-click="button-download-macos-homepage" data-goatcounter-title="Button: Download for MacOS from homepage"><i class='fab fa-apple mr-2'></i> Download for MacOS</a>
    <a href="/download/" class="is-other-os button is-info is-medium mr-2 is-hidden-mobile" data-goatcounter-click="button-download-unspec-homepage" data-goatcounter-title="Button: Download for Unspecified from homepage"><i class='fa fa-download mr-2'></i> Download</a>

    {{/*  <a href="https://www.youtube.com/watch?v=ttgzWwhll70" target="'_blank" class="button is-info is-medium mr-2"><i class='fa fa-video mr-2'></i> Video preview</a>  */}}

    <a href="https://demo.dbgate.org" class="button is-info is-medium is-hidden-mobile mr-2" target="_blank" data-goatcounter-click="button-onlinedemo-homepage" data-goatcounter-title="Button: Try it online - demo - homepage"><i class='fa fa-globe mr-2'></i> Try it online</a>

    <a href="https://dbgate.io" target="_blank" class="button is-info is-medium mr-2 is-hidden-mobile premium-link-button" data-goatcounter-click="button-dbgate-premium-homapage" data-goatcounter-title="Button: DbGate Premium from homepage"><i class='fa fa-star mr-2'></i> DbGate Premium</a>
</div>

<style>
    .premium-link-button {
        color: #ffcc00 !important;
    }
</style>