<footer class="footer">
    <div class="container">
        <div class="content is-small has-text-centered">
            © <a href='https://github.com/janproch/' target="_blank">Jan Prochazka</a> 2020-2025
            |
            <a href='https://github.com/dbgate/dbgate' target="_blank">DbGate on GitHub</a>
            <!-- | <a href='http://repository.appvisor.com/info/app-a60089a1482b/DbGate_pad.xml'>PAD file</a> -->
            |
            <a href='https://dbgate.io' target="_blank">DbGate Premium</a>
            |
            <a href='mailto:info@dbgate.io'>info@dbgate.io</a>
            |
            <a href='/feedback' data-goatcounter-click="button-feedback-footer" data-goatcounter-title="Button: Give us feedback - footer">Give us feedback</a>
        </div>
    </div>
</footer>
