<aside class="menu">
  <p class="menu-label">{{ .title }}</p>

  <ul class="menu-list">
    {{ range  (where .context.Site.RegularPages "Section" .section) }}
    {{ if not .Params.hide_menu }}
    <li>
      <a
        href="{{ .RelPermalink }}"
        class="{{ if eq .RelPermalink $.context.RelPermalink }}is-active{{ end }}"
      >
        {{ .Title }}
        {{ if eq .Params.edition "premium" }}
          <i class='fa fa-star ml-2' ></i>
        {{ end }}

      </a>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</aside>
