<div class="card card-link" onclick="if (!event.target.closest('a')) {{if .Params.externalLink}}window.open('{{ .Params.externalLink }}', '_blank');{{else}}window.location.href='{{ .RelPermalink }}'{{end}}">
    <header class="card-header" >
        <a class="card-header-title" href="{{ .Params.externalLink | default .RelPermalink }}"
        {{ if .Params.externalLink }}target="_blank" {{ end }}
        >{{ .Title}}</a>
    </header>
    <div class="card-content">
        <div class="content">
            {{ .Summary }}
        </div>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">Published: {{ .Date.Format "Jan 2, 2006" }}</p>
    </footer>
</div>

<style>
    .card-link {
        cursor: pointer;
    }
</style>