---
layout: page
---

{% if page.toc %}
{% assign contentsTitle = page.toc_title | default: 'Contents' %}
{% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
{% endif %}

<p class="title is-3">
    {% if page.isClient %}
    DbGate for {{ page.name }} Client
    {% else %}
    {{ page.title }}
    {% endif %}
</p>
{{ content }}

<!-- <div class="columns is-multiline">

        <div class="column is-6">
            <figure class="image is-4by3">
                <img src="/assets/screenshots/{{ page.screenshot }}" />
            </figure>
        </div>

        <div class="column is-6">
        </div>

    </div> -->
{% assign shot=site.data.screenshots | where:"feature",page.slug | first %}

<div class="columns is-multiline">
    {% include screenshots.html collection=shot.items columns_class='column is-6-desktop is-6-tablet' %}
</div>