<h2>Download DbGate Premium</h2>
<p>
    For professional usage, we recommend DbGate Premium. It includes all features and support. 
</p>
<p>
A <strong>30-day free trial period</strong> is available. 
</p>

<a class="button is-medium is-primary" href="https://dbgate.io/download" data-goatcounter-click="button-download-premium" data-goatcounter-title="Button: Download from dbgate.io">
    <i class="fas fa-external-link-alt mr-2"></i>
    Download from dbgate.io
</a>


<h2>Download DbGate Community</h2>
<p>DbGate Community is <strong>free</strong> and open-source</p>
<p>
    Download the most recent stable version of DbGate.  <br />
    Older releases or BETA versions could be found on <a href='https://github.com/dbgate/dbgate/releases' target="_blank">github releases</a> page
    </p>
    
{{ $items := index .Site.Data.download }}

{{ range $items }}
<div class="columns mb-6 ">
    <div class="column is-3">
        <button class="button is-medium is-static mr-5 is-fullwidth">
            <i class="{{.icon}} mr-2"></i>
            {{.text}}
        </button>
    </div>
    <div class="column">
        <div class="columns is-multiline">
            {{ range .items }}
            <div class="column is-4">
                <a class="button is-medium is-primary is-fullwidth" href="{{ .link }}" onClick="sendDownloadEventToGoatCounter('{{ .event }}')">
                    <i class="{{ .icon }} mr-2"></i>
                    {{ .text }}
                    {{ if .platform }}
                    <span class='has-text-grey-light ml-2'>
                        {{ .platform }}
                    </span>
                    {{ end }}
                </a>
            </div>
            {{ end }}

        </div>
    </div>
</div>
{{ end }}
