<div class="columns is-multiline is-centered">
    {{ range .Site.Data.pricing }}
      <div class="column is-3 has-text-centered has-background-grey-lighter m-4">
  
        <div class="has-text-info is-size-3">{{ .name }}</div>
  
        <div>
          <span class="has-text-info is-size-4">{{ .price }}</span>
          {{ .priceSuffix }}
        </div>
        <div class="has-text-grey">{{ .priceAlt }}</div>
  
        {{ if .purchaseLink }}
          <a href="{{ .purchaseLink }}" class="button is-info is-rounded mt-3 mb-3">
            {{ .purchaseLinkText }}
          </a>
        {{ end }}
  
        {{ range .features }}
          <div class="has-text-left">
            <span class="icon has-text-success">
              <i class="fas fa-check"></i>
            </span>
            {{ . }}
          </div>
        {{ end }}
  
        {{ range .featuresNot }}
          <div class="has-text-left">
            <span class="icon has-text-danger">
              <i class="fas fa-ban"></i>
            </span>
            {{ . }}
          </div>
        {{ end }}
  
      </div>
    {{ end }}
  </div>