<p>
    <h2 id="support-us">Support us</h2>
    
    DbGate is GPL-3.0 licensed open-source project. If it helps your bussiness, please consider supporting our SQL client!
</p>

<p>
    <a href="/support" class="button is-info is-medium" data-goatcounter-click="button-sponsor" data-goatcounter-title="Button: Become a sponsor / backer">Become a sponsor / backer</a>
    <!-- <a href="https://testimonial.to/dbgate" class="button is-info is-medium" data-goatcounter-click="button-recommend" data-goatcounter-title="Button: Recommend DbGate">Recommend DbGate</a>
    <a href="https://www.g2.com/products/dbgate/reviews" class="button is-info is-medium" data-goatcounter-click="button-rate-g2" data-goatcounter-title="Button: Rate on G2">Rate on G2</a> -->
</p>

<p>
You could also <a href="https://dbgate.io/purchase/premium">purchase</a> PREMIUM edition.
</p>
